In [1]:
cities_data_path = "./data/santa_cities.csv"

import pandas as pd
import numpy as np

cities = pd.read_csv(cities_data_path)

In [2]:
cities

            id      x      y
0            0   4360   6178
1            1  10906  14956
2            2   5071   8963
3            3  13853   4105
4            4  18885   3168
...        ...    ...    ...
149995  149995   7585   1056
149996  149996  13993   1775
149997  149997  13820  16485
149998  149998  16927    595
149999  149999   9141  13286

[150000 rows x 3 columns]